.images-container {

  .image-item {
    width: 100%;
    border: 1px solid #666;
    background: #eee;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 15px;

    img {
      margin: 0 auto;
    }
  }
}
